.Main {
  min-height: 100vh;

  .wrapper {
    h3 {
      text-align: center;
    }

    .date-select {
      margin-bottom: 0.3rem;
      input {
        width: 200px;
      }
    }
    margin: 4rem 0;

    label {
      font-weight: bolder;
      font-size: 20px;
    }

    Button {
      margin-top: 0.6rem;
    }

    .input-container {
      margin-bottom: 0.3rem;
    }
  }

  .logOut {
    width: 100px;
    margin-top: 2rem;
  }
}
